<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Properties for Alpha 3D Scanner XL -->
    <xacro:property name="visual_mesh" value="package://phoxi_camera_description/meshes/visual/Alpha_3D_Scanner-XL.stl" />
    <xacro:property name="collision_mesh" value="package://phoxi_camera_description/meshes/collision/Alpha_3D_Scanner-XL-col.stl" />
</robot>
